* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
}
.fullWrap, .centerWrap {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.centerWrap {
  max-width: 1200px;
}
header {
  position: relative;
  display: block;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  font-size: 0;
}
h2 {
  font-family: "Roboto", "Arial", serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #818181;
}
h3 {
  padding: 12px 0;
  font-family: "Roboto", "Arial", serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #818181;
}
h4 {
  font-family: "Roboto", "Arial", serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #818181;
}
p {
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  font-weight: 400;
}
.button {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.4em;
  font-style: italic;
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}
.button:hover {
  background: #ffffff;
  color: #000000;
  transition: all .2s ease-in;
}

/* HEADER AREA */
.logo {
  position: relative;
  display: inline-block;
  padding: 15px 0;
  vertical-align: middle;
  text-decoration: none;

}
.logo img {
  position: relative;
  display: inline-block;
  top: 2px;
  vertical-align: middle;
}
.logo span{
  display: inline-block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  color: #c7b86e;
  vertical-align: middle;
  text-transform: uppercase;

}
.logo span.accent {
  font-family: "Playfair Display", serif;
  font-style: italic;
  line-height: 1.3;
  color: #000000;
  text-transform: none;
  vertical-align: baseline;
}
header nav {
  position: relative;
  display: block;
  float: right;
  padding: 22px 0;
}
header .mobileNav {
  display: none;
}
header nav a {
  color: #818181;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 16px;
}
header nav a:hover {
  color: #000000;
  transition: color .2s ease;
}

/* Main Content Area */
.sectionWrap, .main-banner {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 32px 24px;
  font-size: 0;
}
.sectionWrap#online {
  padding: 32px 72px;
}
.main-banner, #online {
  background: rgba(199, 184, 110, .6);
}
.section-left, .section-right, .main-banner img, .banner-content {
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.banner-content {
  text-align: center;
}

.section-left, .main-banner img {
  width: 58%;
  margin-right: 2%;

}

.section-left img, .section-left video {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.section-left img, .main-banner img {
  border-radius: 5px;
}
.section-left h2 {
  padding: 32px 0;
}
#online h2, #thesis h2 {
  text-align: center;
}
#thesis h2 {
  margin-bottom: 32px;
}
.section-left .quote-attr {
  font-size: 10px;
  line-height: 1.4;
  color: #818181;
  padding-top: 20px;
}
.section-right {
  border: 1px solid #dadada;
}
.section-right .mini {
  position: relative;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 0;
}
.section-right .mini:nth-child(odd) {
  background: #efefef;
}
.mini img, .mini-content {
  position: relative;
  display: inline-block;;
  width: 35%;
  height: auto;
  vertical-align: middle;
}
.mini img {
  border-radius: 50%;
}
.mini img.mobileImage {
  display: none;
}
.mini-content {
  width: 65%;
  padding-left: 16px;
}
.mini-content p {
  padding: 8px 0;
}
.mini-content a {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-style: italic;
  color: #c7b86e;
  padding: 2px 4px;
  text-decoration: none;
  border-radius: 3px;
}
.mini-content a:hover {
  color: #fff;
  background: #c7b86e;
  transition: all .2s linear;
}
.section-chip {
  position: relative;
  display: inline-block;
  padding: 0 0 24px 0;
  margin: 32px 1% 0 1%;
  width: 31.33%;
  min-height: 331px;
  height: auto;
  background: #fff;
  vertical-align: top;
  border: 1px solid #555555;
  border-radius: 5px;
}
.section-chip:nth-child(3n + 2) {
  margin-left: 0;
}
.section-chip:nth-child(3n + 4) {
  margin-right: 0;
}
.section-chip img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.chip-content {
  padding: 0 16px;
}
.section-chip h4 {
  color: #818181;
  padding-top: 16px;
}
.section-chip p {
  color: #ababab;
  font-size: 15px;
}
.section-chip p.label {
  padding: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #555555;
}

/* FOOTER */
footer {
  padding: 16px 0 32px 0;
  background: #dadada;
  border-top: 1px solid #555555;
}
footer .centerWrap {
  padding: 0 24px;
}
footer p, footer nav {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
footer nav {
  float: right;
}
footer nav a {
  color: #818181;
  padding-left: 24px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}
footer nav a:hover {
  color: #000000;
  transition: color .2s ease;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
  .mobNoDisplay {
    display: none !important;
  }
  header {
    padding: 0;
  }
  header .desktopNav {
    display: none;
  }
  header .mobileNav {
    display: block;
  }
  header .mobileNav a {
    display: inline-block;
    width: 25%;
    height: 64px;
    vertical-align: top;
  }
  header .mobileNav a.logo {
    background: url(../images/ic-logo.svg) no-repeat center center;
    background-size: 30px auto;
  }
  header .mobileNav a.campus {
    background: url(../images/ic-on-campus.svg) no-repeat center center;
    background-size: 30px auto;
  }
  header .mobileNav a.online {
    background: url(../images/ic-online.svg) no-repeat center center;
    background-size: 30px auto;
  }
  header .mobileNav a.login {
    background: url(../images/ic-login.svg) no-repeat center center;
    background-size: 30px auto;
  }
  header .mobileNav a span{
    font-size: 0;
  }
 .main-banner {
    padding-left: 0;
    padding-right: 0;
  }
  .main-banner {
    padding-top: 0;
  }
  .banner-content {
    padding: 32px 16px 0 16px;
    width: 100%;
  }
  .section-left, .main-banner img, .section-right {
    display: block;
    width: 100%;
  }
  .section-left img, .main-banner img {
    border-radius: 0;
  }
  .section-right {
    border: none;
  }
  #campus .section-left {
    display: none;
  }
  #campus.sectionWrap {
    padding: 16px 16px 32px 16px;
  }
  .section-right .mini {
    padding: 0;
  }
  .section-right .mini:nth-child(odd) {background: none;}
  .mini img.mobileImage {
    display: block;
    width: 100%;
    border-radius: 0;
  }
  .mini .mini-content {
    display: block;
    width: 100%;
    padding: 16px 16px 64px 16px;
  }
  .sectionWrap#online {
    border-top: 1px solid #dadada;
    padding: 32px 16px;
    background: none;
  }
  #online h2, #thesis h2 {
    margin-bottom: 16px;
  }
  .section-chip {
    display: block;
    width: 100%;
    min-height: 0;
    height: auto;
    margin: 0 auto 8px auto;
    padding: 16px 16px 24px 16px;

    background: rgba(199, 184, 110, .6);
  }
  .section-chip img{
    display: none;
  }
  .section-chip h4 {
    padding-top: 8px;
    font-size: 24px;
  }
  .section-chip p {
    display: none;
  }
  .sectionWrap#thesis {
    padding: 32px 0 24px 0;
    border-top: 1px solid #dadada;
  }
  #thesis .section-left h2, #thesis .section-left p, #thesis .section-right {
    display: none;
  }
  footer {
    padding: 16px;
  }
  footer a {
    display: none;
  }
}
